@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #F1F1F1;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}