@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: white;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
}

.btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}